/* Header */

header {
    background-image: url(/src/assets/hdr-bkgrnd.jpg);
    background-size: cover;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: rgb(222, 202, 135);
    padding: 20px;
    text-align: center;
}

/* Main */
.col-3 {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Footer */
footer {
    background-image: url(./assets/hdr-bkgrnd.jpg);
    color: #f3c32c;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
